.main_container {
    background-color: #ececec;
    padding: 1rem;
    display: flex;
    height: 100vh;
    gap: 1rem;
}

.dashboard_container_int {
    width: 100%;
}

.all_infos_container,
.dashboard_container_int {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.dashboard_container_int h2 {
    font-weight: 500;
    color: #6f6f6f;
    font-size: 1.2rem;
}

.row_container {
    display: flex;
    gap: 2rem;
}

.advice_container {
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ececec;
}

.inputs_container,
.info_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs_container {
    width: 50%;
}

.info_text span {
    font-weight: 600;
}

.info_text {
    align-self: self-start;
    font-size: 1rem;
}

.change_container {
    display: flex;
    gap: 1rem;
}

.change_button {
    background-color: #4cbec4;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: 20%;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
}

.delete_button {
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: 20%;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
}

.card_container {
    transition: all 0.2s;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #4cbec4;
    width: fit-content;
    gap: 1rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
}

.inputs_container {
    display: flex;
    flex-direction: column;
}

.input_container {
    position: relative;
    width: 100%;
}

.add_input_container {
    display: flex;
    align-items: center;
    position: relative;
}

.grey_input {
    width: 100%;
    border-radius: 0.5rem;
    background-color: #ececec;
    padding: 1rem 1rem;
}

.button_add:focus,
.button_add:hover {
    background-color: #53ced4;
}
.button_add {
    transition: all 0.2s;
    position: absolute;
    right: 0.5rem;
    background-color: #4cbec4;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: white;
}

.card_container * {
    user-select: none;
    color: white;
}

.card_container {
    transition: all 0.2s;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #4cbec4;
    width: fit-content;
    gap: 1rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
}

.card_container p {
    font-size: 1rem;
    font-weight: 300;
}

.card_container span {
    font-size: 1rem;
    transform: rotate(45deg);
}

.cards_container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.input_container_specialities {
    gap: 0.5rem;
}

.input_container_specialities {
    display: flex;
    flex-direction: column;
}
